<div class="container">
<h1>Search results</h1>
<p>Search for "<%= @search_terms%>" returned <%= pluralize(@products.size, 'result') %></p>
<%= render partial: 'products/product',
           collection: @products,
           locals: {show_details_link:true}
%>
</div>