<div class="container text-center image-center">
  <%= render partial: 'product',
                     object: @product,
                     locals: {show_details_link:false,
                              add_link:true}
  %>
</div>
